body {
/*	background-image: url("background.jpg");
*/	background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:   #F0F0F0;
    /*background-position: center;*/ 
    padding-left: 10px;
}

.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

h1{
	margin: 24px 0;
}

.messages p {
	margin: 6px 0;
}

#goback {
	/*width: 100px;
   opacity: 0.6;*/
   /*background-color: white;*/
   /*font-weight: bold;*/
   /*color: white;*/
   /*padding: 5px;
   cursor: pointer;*/
   /*-webkit-transition: all 0.1s;
   transition: all 0.1s;*/
   /*border-radius: 6px; 
   -moz-border-radius: 6px; 
   -webkit-border-radius: 6px; */
 
}


