<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
<head>
	<title>My Homepage</title>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/QueryParams.js"></script>
	
	<script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="appII.js"></script>
</head>
<body ng-controller="mainController">
<header>
	<nav class="navbar navbar-default">
	<div class="container">
        

		<div class="navbar-header">
			<a ng-click="$root.inchat=0" class="navbar-brand" href="#/"><i class="fa fa-home"></i> Home</a>
		</div>

		<ul  class="nav navbar-nav navbar-right">
			
			<li><a ng-hide="$root.inchat==1" href="#/third">Join a Chat</a></li>
            <li><a ng-show="$root.inchat==1" ng-click="$root.inchat=0" href="#/">Leave Room</a></li>
            <li><a ng-click="$root.inchat=0" href="#/second">Set Display Name</a></li>
            <li><a ng-click="$root.inchat=0" href="#/fourth">Change Password</a></li>
            <li><a ng-click="$root.inchat=0" href="/">Log Out</a></li>

		</ul>
	</div>
	</nav>
</header>

<div class="container">
	<div ng-view></div>

</div>
<div ng-hide="$root.inchat==1" class="footer text-center">
   <a href="https://github.com/xuezhma/Chatting-app">See it on Github</a>
   <a> | </a>
   <a href= "mailto:xuezheng-ma@uiowa.edu">Email the Developer</a>
</div> 
</body>

</html>