<div>
	<form name="myForm" autocomplete="off" ng-submit="compose()">
	<div class="container">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h2 class="text-center">Compose</h2><br>
		<div class="form-group">
			<label>To: </label>
			<div class="input-group">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-user"></i>
			</span>
			<input class="form-control" type="text" name="name" required ng-model="toName">
			</div><br>
			

			<label>Subject: </label>
			<div class="input-group">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-envelope"></i>
			</span>
			<input class="form-control" type="text" name="subject" ng-model="subject" required>
			</div></br>

			<label>Content: </label>
			<div class="input-group">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-pencil"></i>
			</span>
			<textarea class="form-control" rows="10" type="content" name="subject" ng-model="content" required></textarea>
			</div></br>


			<input class="btn btn-primary btn-block" type="submit" value="Send" 
			>
		</div>
	</div>
	</div>
	</div>
	</form>
</div>