<div class="container">
<h2>Your Inbox:</h2>
<ul>	
	<div ng-repeat="mail in inbox">
	<p class="btn btn-info" ng-click="inboxTab = inbox.indexOf(mail)" ng-show="mail.read === true">Subject: {{mail.subject}}</p>
	<p class="btn btn-warning" ng-click="inboxTab = inbox.indexOf(mail); mail.read = true; updateMail(mail._id)" ng-show="mail.read === false">Subject: {{mail.subject}}</p>

	<div class="well" ng-show="inboxTab === inbox.indexOf(mail)">
	<a class="btn btn-default" ng-click="inboxTab=-1">Hide</a>
	<a class="btn btn-default" href="#/compose?to={{mail.fromName}}">Reply</a>
	<a class="btn btn-default" ng-click="deleteInboxMail(mail)">Delete</a>
	<a class="btn btn-danger" ng-click="reportAbuse(mail._id)">Report Abuse</a>
	<br><br>
	<p>From: <strong>{{mail.fromName}}</strong>, He knew you as <strong>{{mail.toName}}</strong>.</p>
	<br>
	<p>Content: </p>
	<p> {{mail.content}}</p>
	<br>
	<p> Sent at {{moment(m.timestamp)}}</p>
	</div> 
	</div>
</ul>
</div>